<header class="mainHeader">
    <section class="mainHeader__logo">
        <img width="120" src="public/logo.png" class="mainHeader__logo__img">
    </section>
    <nav class="mainHeader__nav">
        <ul class="mainHeader__nav__links">
            <li class="mainHeader__nav__links__item">
                <a class="mainHeader__nav__links__item__link" href="/">
                    Home
                </a>
            </li>
            <li class="mainHeader__nav__links__item">
                <a class="mainHeader__nav__links__item__link" href="/blog">
                    Blog
                </a>
            </li>
            <li class="mainHeader__nav__links__item">
                <a class="mainHeader__nav__links__item__link" href="/projects">
                    Projects
                </a>
            </li>
            <li class="mainHeader__nav__links__item">
                <a class="mainHeader__nav__links__item__link" href="/about">
                    About
                </a>
            </li>
            <li class="mainHeader__nav__links__item">
                <a class="mainHeader__nav__links__item__link" href="/contact">
                    Contact
                </a>
            </li>
        </ul>
    </nav>
</header>
