<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock title %} - Kylobytes</title>
        {% include "partials/head.html" %}
    </head>
    <body>
        {% include "partials/header.html" %}
        {% block content %}{% endblock content %}
    </body>
</html>
